

<input type="text" placeholder="Search contacts" class = "search-contacts" ng-model = "name" ng-change = "onSearch()"></input>

<div>{{filtered.length}} found</div>

<div class = "contact-wrapper">
  <div ng-repeat = "contact in contacts | orderBy:'first' | filter:name as filtered">
    <div class = "contact-entry">
      <div class = "user-icon"><i class="fa fa-user"></i></div>
      <div class = "full-name">{{contact.first}} {{contact.last}}</div>
      <div class = "phone-icon"><i class="fa fa-phone"></i></div>
    </div>
  </div>
</div>
