$main-color: #008080;
$accent-color: #86bbcb;
$light-border: solid 1px lightgray;

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
}

a {text-decoration: none;}

input:focus {outline: none;}

// .active {
//   color: $main-color;
//   background: white;
//   border-radius: 40%;
//   padding: 10%;
// }

header {
  color: white;
  background: $main-color;
  padding: 15px;
  width: 100%;
  div {
    display: inline-block;
    width: 32%;
  }
  p {
    margin-bottom: 30px;
  }
  a {
    color: white;
  }
}

// ------ Contact Page ------

.search-contacts {
  background: lightgray;
  border: solid white 4px;
  font-size: 1em;
  padding: 5px;
  width: 90%;
  margin-right: 5%;
}

.contact-entry {
  padding: 5px;
  box-sizing: border-box;
  border-top: $light-border;
  div {
    display: inline-block;
  }
  .full-name {
    margin-left: 15px;
  }
  .phone-icon {
    float: right;
    color: $main-color;
    font-size: 2em;
    margin-right: 15px;
  }
}

.user-icon {
  background-color: $accent-color;
  border-radius: 25px;
  padding: 8px 10px;
  color: white;
}

// ------ Dial Page ------

.dialed-number {
  padding: 40px 20px;
  font-size: 2em;
  text-align: center;
  .caret {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
	  border-bottom: 18px solid transparent;
	  border-right: 18px solid black;
    float: right;
  }
  .backspace {
    float: right;
    background-color: black;
    i {
      color: white;
      padding: 2px;
    }
  }
}

.dialpad {
  color: $main-color;
  font-size: 3em;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  border-top: $light-border;
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
  div {
    float: left;
    width: (100%/3);
    margin-bottom: 15px;
    text-align: center;
  }
}
